*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 18%;
    border-bottom: 1px solid rgba(219, 219,219,1);
    background-color: white;
}
header .logo{
    height: 29px;
}
header .logo img{
    height: 145%;
    object-fit: contain;
    top: -15px;
}
header .search{
    width: 250px;
    background-color: rgba(239, 239, 239, 1);
    padding: 3px 16px;
    display: flex;
    align-items: center;
    border-radius: 8px;
}
header .search input{
    padding: 10px;
    border: none;
    outline: none;
    font-size: 15px;
    background-color:rgba(239, 239, 239, 1); ;
}
 header nav ul{
    list-style: none;
    display: flex;
   font-size: 20px;
   cursor: pointer;
}
header nav ul li{
    margin-right: 20px;
}
header nav ul li a img{
    width: 22px;
    height: 22px;
    border-radius: 50%;
    object-fit: cover;
}
header nav ul li:last-child{
    margin-right: 0;
}
header nav ul li a i{
    font-size: 22px;
    color:rgba(38, 38, 38, 1);
}
section{
    background-color: #fafafa;
    padding: 30px 18%;
}
.left-side{
    width: 65%;
    display: inline;
    margin-left: 20px;
}
.story{
    display: flex;
    padding: 16px;
    background-color: white;
    border: 1px solid rgba(219, 219,219,1);
    border-radius: 3px;

}
.story .stories{
    width: 17%;

}
.story .stories a img{
    border-radius: 50%;
    border: 2px solid #c62d8f;
    padding: 1px;
    object-fit: cover;

}
.story .stories p{
    width: 90%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #262626;
}
.post{
    margin: 25px 0;
    background-color: white;
    width: 700px;
    border: 1px solid rgba(219, 219,219,1);
    border-radius: 3px;
}
.post .post-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
}
.post .post-title .post-left{
    display: flex;
    align-items: center;
}
.post .post-title .post-left .image img{
     border-radius: 50%;
     object-fit: contain;
}
.post .post-title .post-left .details .name{
    padding-bottom: 2px;
    font-weight: bold;
}
.post .post-title .post-left .image{
    margin-right: 15px;
}
.post .post-content .img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.post .post-footer{
    display: flex;
    justify-content: space-between;
}
.post  .post-footer .like-share-comment i{
    font-size: 22px;
    margin-right: 10px;
    padding: 16px;
}
.post .post-footer .save{
    font-size: 22px;
}
.post .post-footer-content{
    padding: 0 16px 16px 16px;
}
.post .post-footer-content p{
     margin-bottom: 3px;
}
.post .post-footer-content .likes{
    margin-bottom: 8px;
}
.post .post-footer-content .name{
    font-weight: 600;
}
.post .post-footer-content span{
    margin-left: 10px;
    font-weight: normal;
}
.post .post-footer-content .post-time{
    font-size: 10px;
    margin-top: 6px;
}
.post .add-comment{
    padding: 16px;
    border-top: 1px solid #efefef;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.post .add-comment .left-side{
    display: flex;
    align-items: center;
}
.post .add-comment .left-side i{
    font-size: 22px;
    margin-right: 15px;
}
.post .add-comment .left-side input{
    width: 100%;
    outline: none;
    border: none;
}
.right-side{
    width: 35%;
    font-size: 14px;
    margin-top: 15px;
    position: fixed;
    margin-left: 700px;
    top: 250px;
    background-color: white;
    border: 1px solid rgba(239, 239, 239, 1);
}
.right-side .profile-title{
    display: flex;
    align-items: center;
    margin-right: 40px;
}
.right-side .profile-title .profile-left{
    display: flex;
    margin-right: 40px;
}
.right-side .profile-title .profile-left .image img{
    border-radius: 50%;
    margin-left: 50px;
    margin-right: 15px;
    object-fit: cover;
}
.right-side .profile-title .profile-left .details .name{
    padding-bottom: 3px;
}
.suggestions{
    display: flex;
    margin-top: 25px;
    margin-bottom: 20px;
}
.suggestions p{
    margin-left: 60px;
}
.suggestions p:last-child{
    margin-right: 0px;
}

.suggestion-title{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
.suggestion-title .suggestion-left{
    display: flex;
    align-items: center;
    margin-left: 50px;
}
.suggestion-title .suggestion-left .image img{
    border-radius: 50%;
    margin-right: 15px;
    object-fit: cover;
}
.suggestion-title .suggestion-left .details .name{
    padding-bottom:3px;
}
.suggestion-right .hii{
    margin-left: 60px;
}

@media(max-width:930px){
    header{
        padding: 10px 20px;
    }
    section .left-side{
        width: 100%;
    }
    section .right-side{
        display: none;
    }
}
@media(max-width:768px){
    header .search-box{
        display: none;
    }
    section{
        padding: 30px 20px;
    }
}
@media(max-width:572px){
    .story .stories{
        width: 25%;
    }
    header nav ul li{
        margin-right: 10px;
    }
    
}



















